@font-face {


    font-family: Nunito;
    src: url(Nunitosans-Regular.ttf)
}

body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}


#header{
  
  font-size: 50px;
  color: #FF6B09;
  text-align: center;
  border-bottom: 15px solid black;
  border-top: 5px solid black;
  padding: black;
  background: black;
  margin-bottom: 10px
}


li{
  display:inline-block;
  margin-top: -100px;
  margin-left: 190px;



}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #FF6B09;
    margin: 1em 60px auto 60px;
    padding: 0;
}

a:link{
    color: #FF6B09;
    text-decoration:none;
}


a:visited{
    color: #FF6B09;
    text-decoration:none;
}

a:hover{
    color:gray;
    
}

a:active{
    color:#FF6B09;
    text-decoration:none
}

.conteudo{
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 1000px;
  max-height: 500px;
  text-align: justify;
  padding: 10px 20px 10px 20px;
  background-color: black;
  margin: -70px auto 50px auto;
  border-radius: 10px;
  line-height: 1.5em;

  }

.foto{
  margin: 70px auto auto 450px;
}

.imperial{
  display: inline-block;
  margin-left: 160px;
  margin-top: 60px;
}


.bateria{

  display: inline-block;
  margin-bottom: 60px

}

#brunao{
  display: inline-block;  
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 10px 20px;
  background-color: black;
  margin: auto auto auto 110px;
  border-radius: 10px;
  line-height: 0.5em;

}

#bebeh{
  display: inline-block;
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 10px 20px;
  background-color: black;
  margin: -20px auto auto 65px;
  border-radius: 10px;
  line-height: 0.5em;

}

#hsu{
  display: inline-block;
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 10px 20px;
  background-color: black;
  margin: auto auto auto 60px;
  border-radius: 10px;
  line-height: 0.5em;

}

.menu_inferior{
  margin-top: 50px;
  margin-left: 50px;
}



#footer{
  
  font-size: 30px;
  color: black;
  text-align: right;
  border-top: 1px;
  padding-right: 10px;
  padding-bottom: auto;
  background: #FF6B09;
  margin-bottom: auto;
  margin-top: 70px;
}


