@font-face {


    font-family: Nunito;
    src: url(Nunitosans-Regular.ttf)
}

body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}


#header{
  
  font-size: 50px;
  color: #FF6B09;
  text-align: center;
  border-bottom: 15px solid black;
  border-top: 5px solid black;
  padding: black;
  background: black;
  margin-bottom: 3px
}


li{
  display:inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 190px;



}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #FF6B09;
    margin: auto 60px auto 60px;
    padding: 0;
}

a:link{
    color: #FF6B09;
    text-decoration:none;
}


a:visited{
    color: #FF6B09;
    text-decoration:none;
}

a:hover{
    color:gray;
    
}

a:active{
    color:#FF6B09;
    text-decoration:none
}

.conteudo{
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 1000px;
  max-height: 500px;
  text-align: justify;
  padding: 10px 20px 10px 20px;
  background-color: black;
  margin: -70px auto 50px auto;
  border-radius: 10px;
  line-height: 1.5em;

  }

.foto{
  margin: 70px auto auto 450px;
}

.imperial{
  display: inline-block;
  margin-left: 160px;
  margin-top: 20px;
}


.bateria{

  display: inline-block;
  margin-bottom: auto;
}

#brunao{
  display: inline-block;  
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 0 20px 10px 20px;
  background-color: black;
  margin: auto auto auto 110px;
  border-radius: 10px;
  line-height: 0.5em;

}

#bebeh{
  display: inline-block;
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 0 20px 10px 20px;
  background-color: black;
  margin: -20px auto auto 65px;
  border-radius: 10px;
  line-height: 0.5em;

}

#hsu{
  display: inline-block;
  color: gray;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: justify;
  padding: 0 20px 10px 20px;
  background-color: black;
  margin: auto auto auto 60px;
  border-radius: 10px;
  line-height: 0.5em;

}



#footer{
  
  font-size: 20px;
  color: black;
  text-align: right;
  border-top: auto;
  padding-right: 10px;
  padding-bottom: auto;
  background: #FF6B09;
  margin-bottom: auto;
  margin-top: 40px;
}

a#insper:link {
 color:black;
}

a#insper:hover {
 color:white;
}


a#insper:visited {
 color:black;
}

a.linkssociais:link {
color: gray;
}

a.linkssociais:hover {
text-decoration: underline;
}

a.linkssociais:visited {
color: gray;
}

.nomes{
  text-align: center;
  font-size: 1.1em;
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF6B09;
    min-width: 160px;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black; 
  color:gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    align-content: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FF6B09;
    background-color: transparent;

}